body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('Resimler/wallpaperbetter.com_1920x1080.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,50%);
    background: none;
    text-align: center;
}
.box h1{
    color: rgb(61, 175, 209);
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.30s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: rgb(37, 32, 112);
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #68c511;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #68c511;
}